# Ignore the heavy node_modules folder
node_modules/

# Ignore your actual database data (so your admin updates stay local/private)
data/db.json

# Ignore files you upload while testing locally
public/uploads/*
!public/uploads/.gitkeep

# Ignore system files
.DS_Store
Thumbs.db